<footer
  class="bg-background dark:bg-dark-background w-full border-t border-border dark:border-dark-border theme-transition"
>
  <div class="container py-10 px-6 md:px-8 lg:py-16 lg:px-20 2xl:px-0">
    <div
      class="w-full flex flex-col gap-8 md:grid md:grid-cols-2 md:gap-12 lg:flex lg:flex-row justify-between lg:gap-0"
    >
      <div class="flex flex-col mb-6 md:mb-0 gap-8 lg:gap-4">
        <div class="flex items-center space-x-1 lg:mb-5 lg:-mt-2">
          <img
            [ngSrc]="logoImage"
            width="40"
            height="40"
            alt="logo"
            class="cursor-pointer theme-transition rounded-full"
          />
          <h3
            routerLink="/"
            class="text-primary text-2xl dark:text-dark-primary cursor-pointer theme-transition"
          >
            Trend<span class="text-foreground dark:text-dark-foreground theme-transition"
              >Loom</span
            >
          </h3>
        </div>
        <p class="lg:mb-5">
          Your one-stop destination for high-quality <br />
          products with exceptional customer service <br />
          and competitive pricing. <br />
        </p>
        <div class="flex items-center space-x-2">
          <a
            href="#"
            class="text-foreground -ml-1 dark:text-dark-foreground cursor-pointer theme-transition hover:bg-accent rounded-full text-sm p-2.5"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 8 19"
            >
              <path
                fill-rule="evenodd"
                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          <a
            href="#"
            class="text-foreground dark:text-dark-foreground cursor-pointer theme-transition hover:bg-accent rounded-full text-sm p-2.5"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"
              />
            </svg>
          </a>
          <a
            href="#"
            class="text-foreground dark:text-dark-foreground cursor-pointer theme-transition hover:bg-accent rounded-full text-sm p-2.5"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z"
                clip-rule="evenodd"
              />
              <path d="M7.2 8.809H4V19.5h3.2V8.809Z" />
            </svg>
          </a>
          <a
            href="#"
            class="text-foreground dark:text-dark-foreground cursor-pointer theme-transition hover:bg-accent rounded-full text-sm p-2.5"
          >
            <svg
              class="w-5 h-5 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          <a
            href="#"
            class="text-foreground dark:text-dark-foreground cursor-pointer theme-transition hover:bg-accent rounded-full text-sm p-2.5"
          >
            <svg
              class="w-5 h-5 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </div>
      </div>
      <div>
        <h2 class="mb-6 font-semibold text-foreground dark:text-dark-foreground">Quick Links</h2>
        <ul>
          <li class="mb-4">
            <a
              routerLink="{{ productsRoute }}"
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >Shop</a
            >
          </li>
          <li class="mb-4">
            <a
              routerLink="{{ categoriesRoute }}"
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >Categories</a
            >
          </li>
          <li class="mb-4">
            <a
              routerLink="{{ aboutRoute }}"
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >About Us</a
            >
          </li>
          <li class="mb-4">
            <a
              routerLink="{{ contactRoute }}"
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >Contact</a
            >
          </li>
          <li>
            <a
              routerLink="{{ blogRoute }}"
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >Blog</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 font-semibold text-foreground dark:text-dark-foreground">
          Customer Service
        </h2>
        <ul>
          <li class="mb-4">
            <a
              routerLink=""
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >FAQ</a
            >
          </li>
          <li class="mb-4">
            <a
              routerLink=""
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >Shipping Policy</a
            >
          </li>
          <li class="mb-4">
            <a
              routerLink=""
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >Returns & Exchanges</a
            >
          </li>
          <li class="mb-4">
            <a
              routerLink=""
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >Terms & Conditions</a
            >
          </li>
          <li>
            <a
              routerLink=""
              class="text-muted-foreground dark:text-dark-muted-foreground hover:text-accent dark:hover:text-dark-accent theme-transition"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 font-semibold text-foreground dark:text-dark-foreground">Newsletter</h2>
        <p>
          Subscribe to our newsletter to receive <br />
          updates and exclusive offers.
        </p>
        <div class="flex items-center my-4">
          <input
            type="email"
            placeholder="Enter your email"
            class="bg-transparent p-2 border-s border-border dark:border-dark-border rounded-md text-sm text-foreground dark:text-dark-foreground focus:outline-none focus:ring-2 focus:ring-accent dark:focus:ring-dark-accent"
          />
          <button class="btn p-2 hover-accent hover-ring-accent theme-transition">Subscribe</button>
        </div>
        <div class="flex flex-col space-y-2">
          <span class="flex items-center space-x-2">
            <svg
              class="w-5 h-5 text-accent"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 8v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8m18 0-8.029-4.46a2 2 0 0 0-1.942 0L3 8m18 0-9 6.5L3 8"
              />
            </svg>
            <p>support&#64;trendloom.com</p>
          </span>
          <span class="flex items-center space-x-2">
            <svg
              class="w-5 h-5 text-accent"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m17.0896 13.371 1.1431 1.1439c.1745.1461.3148.3287.4111.5349.0962.2063.1461.4312.1461.6588 0 .2276-.0499.4525-.1461.6587-.0963.2063-.4729.6251-.6473.7712-3.1173 3.1211-6.7739 1.706-9.90477-1.4254-3.13087-3.1313-4.54323-6.7896-1.41066-9.90139.62706-.61925 1.71351-1.14182 2.61843-.23626l1.1911 1.19193c1.1911 1.19194.3562 1.93533-.4926 2.80371-.92477.92481-.65643 1.72741 0 2.38391l1.8713 1.8725c.3159.3161.7443.4936 1.191.4936.4468 0 .8752-.1775 1.1911-.4936.8624-.8261 1.6952-1.6004 2.8382-.4565ZM14 8.98134l5.0225-4.98132m0 0L15.9926 4m3.0299.00002v2.98135"
              />
            </svg>
            <p>(+233) 559-6798-300</p>
          </span>
          <span class="flex items-center space-x-2">
            <svg
              class="w-5 h-5 text-accent"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
              />
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"
              />
            </svg>
            <p>123 Commerce St, Accra, Ghana</p>
          </span>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <h5
        routerLink="/"
        class="text-primary dark:text-dark-primary cursor-pointer font-semibold theme-transition"
      >
        <span class="text-foreground dark:text-dark-muted-foreground font-normal">© 2025</span>
        Trend<span class="text-foreground dark:text-dark-foreground theme-transition">Loom</span>
      </h5>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          href="#"
          class="text-foreground dark:text-dark-foreground cursor-pointer theme-transition hover:bg-accent rounded-full text-sm p-2.5"
        >
          <svg
            class="w-5 h-5 text-destructive"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M17.4 12.6h1l-.3-1.4v-.4l-.2.4-.5 1.4Z" />
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M2 6.3c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-12Zm12.5 3.2c.4 0 .8 0 1.1.2l-.1 1h-.1a2 2 0 0 0-1-.3c-.5 0-.7.3-.7.5s.2.3.7.5c.7.4 1 .8 1 1.3 0 1-.8 1.7-2.2 1.7-.6 0-1.1-.2-1.4-.3l.2-1h.1c.4.2.7.3 1.2.3.4 0 .8-.2.8-.5 0-.2-.2-.3-.7-.6-.5-.2-1.1-.6-1.1-1.3 0-.9 1-1.5 2.2-1.5Zm3.5 0h1l1 4.8h-1.2l-.2-.7H17l-.3.7h-1.3l1.9-4.4c.1-.3.3-.3.7-.3Zm-6.2 0h-1.3l-.8 4.8H11l.8-4.8Zm-4.5 3.3-.1-.7-.5-2.2c0-.3-.3-.3-.6-.4h-2v.1l1.2.5.1.2 1.1 4H8l2-4.7H8.7l-1.3 3.2Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
        <a
          href="#"
          class="text-foreground dark:text-dark-foreground cursor-pointer theme-transition hover:bg-accent rounded-full text-sm p-2.5"
        >
          <svg
            class="w-5 h-5 text-destructive"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm5.178 12.137a4.137 4.137 0 1 1 1.036-8.144A6.113 6.113 0 0 0 8.726 12c0 1.531.56 2.931 1.488 4.006a4.114 4.114 0 0 1-1.036.131ZM10.726 12c0-1.183.496-2.252 1.294-3.006A4.125 4.125 0 0 1 13.315 12a4.126 4.126 0 0 1-1.294 3.006A4.126 4.126 0 0 1 10.726 12Zm4.59 0a6.11 6.11 0 0 1-1.489 4.006 4.137 4.137 0 1 0 0-8.013A6.113 6.113 0 0 1 15.315 12Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
        <a
          href="#"
          class="text-foreground dark:text-dark-foreground cursor-pointer theme-transition hover:bg-accent rounded-full text-sm p-2.5"
        >
          <svg
            class="w-5 h-5 text-destructive"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11 16.5a5.5 5.5 0 1 1 11 0 5.5 5.5 0 0 1-11 0Zm4.5 2.5v-1.5H14v-2h1.5V14h2v1.5H19v2h-1.5V19h-2Z"
              clip-rule="evenodd"
            />
            <path d="M3.987 4A2 2 0 0 0 2 6v9a2 2 0 0 0 2 2h5v-2H4v-5h16V6a2 2 0 0 0-2-2H3.987Z" />
            <path
              fill-rule="evenodd"
              d="M5 12a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
